<!-- <ul class="nav nav-pills mb-3 justify-content-end text-white" id="pills-tab" role="tablist"
    style="text-align: right; background-color: #0a4275; padding-bottom: 20px; padding-top: 15px;">
    <li class="nav-item text-white" role="presentation">

    </li>
    <li class="nav-item" role="presentation" routerLinkActive="active">
        <a class="nav-link text-white" routerLink="dashboard">Dashboard</a>

    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link text-white" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Dashboard</button>
    </li>
    <li class="nav-item" role="presentation" style="padding-right: 15px;">
        <button class="nav-link text-white" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
            type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Logout</button>
    </li>
</ul> -->
<router-outlet></router-outlet>
