<div class="container">

    <ul class="nav nav-pills mb-3 justify-content-end text-white" id="pills-tab" role="tablist"
        style="text-align: right; background-color: #0a4275; padding-bottom: 20px; padding-top: 15px;">
        <li class="nav-item text-white" style="margin-right: 600px;"  role="presentation">
            Welcome {{currentUserName}}
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active text-white" id="pills-home-tab" data-bs-toggle="pill"
                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                aria-selected="true">Create Group</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link text-white" id="pills-profile-tab" data-bs-toggle="pill"
                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                aria-selected="false">Dashboard</button>
        </li>
        <li class="nav-item" role="presentation" style="padding-right: 15px;">
            <button class="nav-link text-white" id="pills-contact-tab" data-bs-toggle="pill"
                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                aria-selected="false" (click)="logout()" >Logout</button>
        </li>
    </ul>
    <div class="row">
        <div class="col-lg-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Group Name</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let gr of GroupDetails">
                        <td>{{gr.groupName}}</td>
                        <td><i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editGroup(gr.groupId)"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-9 card p-3">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                    tabindex="0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row g-3">
                                <div class="col-auto">
                                    <label for="inputPassword6" class="col-form-label">Group Name:-</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="groupName" class="form-control"
                                        aria-describedby="passwordHelpInline" [(ngModel)]="groupname">
                                </div>
                            </div>
                            <div class="card mt-5" >
                                <div class="card-header text-center">
                                  <h3>Member</h3>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">User Name</th>
                                                <th scope="col">Email Address</th>
                        
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let mem of members">
                                                <td>{{mem.userName}}</td>
                                                <td>{{mem.userEmail}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                  <a href="javascript:void(0);" class="link-primary text-center" style="margin-left: 140px;" data-bs-target="#ShowUser" data-bs-toggle="modal" (click)="getmembers()">Add More</a><br>
                                  <a href="javascript:void(0);" class="text-center" style="margin-left: 130px;">Use Invite Link</a>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label">Category:-</label>
                            </div>
                            <div class="col-auto">
                                <select class="form-select" [(ngModel)]="groupcategory"  aria-label="Default select example">
                                    <option *ngFor="let cate of datacategories">{{cate.categoriesList}}</option>
                                  </select>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-lg-12 text-center">
                                    <h4>Simplify Debts</h4>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <div class="form-check">
                                        <input class="form-check-input" [(ngModel)]="groupSimplifyDebtsvalue" type="checkbox"  id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          <h4>True</h4>
                                        </label>
                                      </div>
                                      <div class="form-floating mt-5">
                                        <textarea class="form-control" [(ngModel)]="grouptextarea" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
                                        <label for="floatingTextarea">Comments</label>
                                      </div>
                                      <a href="javascript:void(0);" class="btn btn-primary mt-5" (click)="createGroup()">{{isbuttonedit?"Edit or Save": "Click to Add"}}</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                    tabindex="0">
                    Dashboard created</div>
            </div>
        </div>
    </div>
    <section class="">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #0a4275;">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section class="">
                    <p class="d-flex justify-content-center align-items-center">
                        <span class="me-3">Register for free</span>
                        <button data-mdb-ripple-init type="button" class="btn btn-outline-light btn-rounded">
                            Sign up!
                        </button>
                    </p>
                </section>
                <!-- Section: CTA -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2020 Copyright:
                <a class="text-white">SplitWise</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>
</div>
<div class="modal fade" id="ShowUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group" *ngFor="let user of users">
                    <li class="list-group-item">{{user.userName}}<button style="float: right;"
                            ><i class="fa fa-user-plus" aria-hidden="true" (click)="addmembers(user)"></i></button></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>